.main{
    display:flex;
    justify-content:center;
}
.box{
    border:1px solid black;
    width:400px
}
.box.winner {
    border: 4px solid gold;
}
.box.loser {
    border: 4px solid #467446;
}
.img-container{
    width:300px;
    padding:50px
}


